.row.more-features
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Features
    %ul
      %li
        %b Multi-platform:
        Execute builds on Unix, Windows, macOS, and any other platform that supports Go.
      %li
        %b Multi-language:
        Build scripts are command-line driven and work with Java, PHP, Ruby, C, and any other language.
      %li
        %b Stable:
        Builds run on a different machine than GitLab.
      %li
        %b Parallel builds:
        GitLab distributes workloads across multiple machines for faster execution.
      %li
        %b Realtime logging:
        A link in the merge request takes you to the current build log that updates dynamically.
      %li
        %b Flexible pipelines:
        Define multiple parallel jobs per stage and you can
        = succeed "." do
          %a{href: "https://docs.gitlab.com/ee/ci/triggers/"} trigger other builds
      %li
        %b Versioned pipelines:
        A
        %a{href: "https://docs.gitlab.com/ee/ci/yaml/"} .gitlab-ci.yml file
        contains your tests and overall process steps, allowing everyone to contribute changes and ensuring every branch gets the pipeline it needs.
      %li
        %b Autoscaling:
        = link_to "Automatically spin up and down VM's", "/blog/2016/03/29/gitlab-runner-1-1-released/"
        to minimize costs and make sure your builds get processed immediately.
      %li
        %b Job artifacts:
        GitLab Runner uploads binaries and other
        %a{href: "https://docs.gitlab.com/ee/ci/pipelines/job_artifacts.html"} job artifacts
        to GitLab, downloadable as a single archive with the GitLab UI or the GitLab API.
      %li
        %b Test locally:
        There are
        %a{href: "https://docs.gitlab.com/runner/executors/"} multiple executors
        and you can
        = succeed "." do
          %a{href: "https://gitlab.com/gitlab-org/gitlab-runner/issues/312"} reproduce tests locally
      %li
        %b Docker support:
        Use custom Docker images, spin up
        %a{href: "https://docs.gitlab.com/ee/ci/services/"} services
        as part of testing,
        = succeed "," do
          %a{href: "https://docs.gitlab.com/ee/ci/docker/using_docker_build.html"} build new Docker images
        even run on Kubernetes.
      %li
        %b Container registry:
        %a{href: "https://docs.gitlab.com/ee/user/project/container_registry.html"} Built-in container registry
        to store, share, and use container images.
      %li
        %b Protected variables:
        Securely store and use secrets during deployments using per environment
        %a{href: "https://docs.gitlab.com/ee/ci/variables/README.html#protected-variables"} protected variables
      %li
        %b Environments:
        Define multiple environments including temporary
        %a{href: "https://about.gitlab.com/features/review-apps/"} Review Apps
        , see deployment history for every environment.

  .col-xs-1.col-md-1
%hr.divider/
