---
layout: handbook-page-toc
title: "Quality Career Framework: Staff Backend Engineer, Engineering Productivity"
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Staff Backend Engineer, Engineering Productivity

<%= partial("handbook/engineering/career-development/matrix/engineering/quality/engineering-productivity/ep_career_matrix_nav.erb") %>

**Staff Backend Engineers, Engineering Productivity at GitLab are expected to exhibit the following competencies:**

* [Leadership Competencies](#leadership-competencies)
* [Technical Competencies](#technical-competencies)
* [Values Alignment](#values-alignment)

---

### Leadership Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_staff_leadership_competency.erb") %>

### Technical Competencies

<%= partial("handbook/engineering/career-development/matrix/engineering/engineering_staff_technical_competency.erb") %>

##### Engineering Productivity

This table refers to the responsibility terms that are defined on the [team page](/handbook/engineering/quality/engineering-productivity-team/index.html#areas-of-responsibility).

| Responsibility | Description |
| --- | --- |
| See it and find it | Identify and implement changes to shorten developer feedback loops and implement improvements for product stages within a section |
| Do it for internal team | Implement productivity improvements with quantifiable benefits for Gitlab product stages within a section |
| Dogfood use | Dogfood existing product features to improve the GitLab engineering workflows. Represent the Quality department as internal customer for at least one product group. |
| Engineering support | Implement KPI corrective actions and preventative measures. Identify areas for new department performance indicators. |
| Engineering workflow | Lead collaboration and implementation with product and engineering stakeholders to improve automation in support of product and engineering workflows |
| Do it for wider community | Identifies contributor productivity improvements for the wider GitLab community contributors |
| Dogfood build | Large enhancements to existing features or addition of new features. Your implementation has a large impact to a product category |

### Values Alignment

<%= partial("handbook/engineering/career-development/matrix/engineering/values_competency.erb") %>
